<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Galeria S&C</title>
    <%- include("../fragmente/head.ejs") %>
</head>
<body>
    <%- include("../fragmente/header.ejs") %>
    <main>
        <h1>Galeria noastră de Bijuterii</h1>
        <%- include("../fragmente/galerie.ejs") %> 
    </main>
    <%- include("../fragmente/footer.ejs") %>
</body>
</html>