    <address>
        <strong>Contactați-ne:</strong><br>
        
        Telefon: <a href="tel:+40700123456">0700 123 456</a><br>
        
        E-mail: <a href="mailto:contact@sc-bijuterii.ro">contact@sc-bijuterii.ro</a><br>
        
        WhatsApp: <a href="https://wa.me/40700123456">Lasă-ne un mesaj</a><br><br>
        
        Adresă Showroom (vizite doar cu programare):<br>
        <a href="https://www.google.com/maps/search/?api=1&query=Facultatea+de+Matematica+si+Informatica+Universitatea+Bucuresti" target="_blank">
            Bulevardul Strălucirii, Nr. 14K,<br>
            Sector 1, București
        </a>
        <br><br>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d719.6400444851063!2d26.098942969643055!3d44.43553549819222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e1!3m2!1sro!2sro!4v1773037453393!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </address>
    <p>
        <small>
            Copyright &copy; Monceanu Valentina. Pagina a fost creată pe 
            <time datetime="2026-03-02">2 martie 2026</time>.
        </small>
    </p>
    <p><a href="#">Înapoi sus &uarr;</a></p>