<header>
        <h1>Magazin de bijuterii S&C</h1>
        <img src="/resurse/imagini/bijuterii.png" alt="brijuterii" />
        <nav>
            <ul class="meniu">
                <li>Acasa
                    <ul>
                        <li>
                            <a href="#welcome">Bine ati venit!</a>
                        </li>
                        <li>
                            <a href="#promotii">Promotii!</a>
                        </li>
                    </ul>
                </li>
                <li>Despre</li>
                <li>Inregistrare</li>
            </ul>
        </nav>
    </header>